<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
</head>
<body class="index-page">
  <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce bibendum elit nisi, nec vestibulum purus sollicitudin ac. Praesent a justo placerat</h2>

  <div class="main-inner">
    <div class="image-container"><img src="/assets/resources/imagen-main.jpg"></div>
    <div class="text-container">
      <h1>Loren ipsum dolor sit amet</h1>
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce bibendum elit nisi</h4>
      <div class="button-container">
        <a class="clasic-button" href="/register">Empieza</a>
        <a class="regular-link" href="/register">Soy Nutricionista</a>
      </div>
    </div>
  </div>
  <app-login></app-login>
</body>
