<div class="filter-nutritionist">
    <hr class="filter-divider">
    <div class="specialization-filter">
        <p class="text-filter">Especialización</p>
        <hr class="filter-divider">
    </div>


    <div>
        <input type="radio" name="specialization" value="specialization1" id="specialization1">
        <label for="specialization1">specialization1</label><br>
        <input type="radio" name="specialization" value="specialization2" id="specialization2">
        <label for="specialization2">specialization2</label><br>
        <input type="radio" name="specialization" value="specialization3" id="specialization3">
        <label for="specialization3">specialization3</label><br>
        <input type="radio" name="specialization" value="specialization4" id="specialization4">
        <label for="specialization4">specialization4</label>
    </div>
    <div class="Price-filter">
        <p class="text-filter">Precio</p>
        <hr class="filter-divider">
    </div>
    <div>
        <input type="radio" name="price" value="price1" id="price1">
        <label for="price1">price1</label><br>
        <input type="radio" name="price" value="price2" id="price2">
        <label for="price2">price2</label><br>
        <input type="radio" name="price" value="price3" id="price3">
        <label for="price3">price3</label><br>
        <input type="radio" name="price" value="price4" id="price4">
        <label for="price4">price4</label>
    </div>
    <div class="Lorem-filter"> <!--Podemos usar genero o experiencia -->
        <p class="text-filter">Lorem</p>
        <hr class="filter-divider">
    </div>
    <div>
        <input type="radio" name="specialization" value="value1" id="value1">
        <label for="value1" class="tag-filter">Value1</label><br>
        <input type="radio" name="specialization" value="value1" id="value2">
        <label for="value2" class="tag-filter">Value2</label><br>
        <input type="radio" name="specialization" value="value1" id="value3">
        <label for="value3" class="tag-filter">Value3</label><br>
        <input type="radio" name="specialization" value="value1" id="value4">
        <label for="value4" class="tag-filter">Value4</label>
    </div>
    <div class="filter-button">
        <hr class="filter-divider">
        <input type="button" value="Filtrar">
    </div>


</div>