<div class="filter-nutritionist">
    <hr class="filter-divider">
    <div class="specialization-filter filter-parent-type" name="specialization-parent"
         onclick="openDescription('specialization-filter','Especializacion','Especialización')">
        <p id="Especializacion" class="text-filter" name="Especialización">Especialización <i class="fa-solid fa-minus"></i></p>
        <hr class="filter-divider">
    </div>


    <div class="filter-type" name="specialization-filter">
        <input type="radio" name="specialization" value="specialization1" id="specialization1">
        <label for="specialization1">specialization1</label><br>
        <input type="radio" name="specialization" value="specialization2" id="specialization2">
        <label for="specialization2">specialization2</label><br>
        <input type="radio" name="specialization" value="specialization3" id="specialization3">
        <label for="specialization3">specialization3</label><br>
        <input type="radio" name="specialization" value="specialization4" id="specialization4">
        <label for="specialization4">specialization4</label>
    </div>
    <div class="Price-filter filter-type"onclick="openDescription('price-filter','Precio','Precio')">
        <p class="text-filter" id="Precio">Precio <i class="fa-solid fa-minus"></i></p>
        <hr class="filter-divider" >
    </div>
    <div class="filter-type" name="price-filter">
        <p>Precio por consulta:</p>
        <input type="range">
        <p>Hasta 20 € </p>
    </div>
    <div class="Lorem-filter filter-type" name="Lorem-filter"
         onclick="openDescription('lorem-filter','Lorem','Lorem')"> <!--Podemos usar genero o experiencia -->
        <p class="text-filter" id="Lorem">Lorem <i class="fa-solid fa-minus"></i></p>
        <hr class="filter-divider">
    </div>
    <div class="filter-type" name="lorem-filter">
        <input type="radio" name="lorem" value="value1" id="value1">
        <label for="value1" class="tag-filter">Value1</label><br>
        <input type="radio" name="lorem" value="value2" id="value2">
        <label for="value2" class="tag-filter">Value2</label><br>
        <input type="radio" name="lorem" value="value3" id="value3">
        <label for="value3" class="tag-filter">Value3</label><br>
        <input type="radio" name="lorem" value="value4" id="value4">
        <label for="value4" class="tag-filter">Value4</label>
    </div>
    <div class="filter-button">
        <hr class="filter-divider">
        <input type="button" value="Filtrar" class="clasic-button">
    </div>


</div>