<div class="filter-nutritionist">
    <hr class="filter-divider">
    <div class="specialization-filter">
        <p class="text-filter">Especialización <i class="fa-solid fa-minus"></i></p>
        <hr class="filter-divider">
    </div>


    <div>
        <input type="radio" name="specialization" value="specialization1" id="specialization1">
        <label for="specialization1">specialization1</label><br>
        <input type="radio" name="specialization" value="specialization2" id="specialization2">
        <label for="specialization2">specialization2</label><br>
        <input type="radio" name="specialization" value="specialization3" id="specialization3">
        <label for="specialization3">specialization3</label><br>
        <input type="radio" name="specialization" value="specialization4" id="specialization4">
        <label for="specialization4">specialization4</label>
    </div>
    <div class="Price-filter">
        <p class="text-filter">Precio <i class="fa-solid fa-minus"></i></p>
        <hr class="filter-divider">
    </div>
    <p>Precio por consulta:</p>
    <input type="range">
    <p>Hasta 20 € </p>
    <div class="Lorem-filter"> <!--Podemos usar genero o experiencia -->
        <p class="text-filter">Lorem <i class="fa-solid fa-minus"></i></p>

        <hr class="filter-divider">
    </div>
    <div>
        <input type="radio" name="specialization" value="value1" id="value1">
        <label for="value1" class="tag-filter">Value1</label><br>
        <input type="radio" name="specialization" value="value1" id="value2">
        <label for="value2" class="tag-filter">Value2</label><br>
        <input type="radio" name="specialization" value="value1" id="value3">
        <label for="value3" class="tag-filter">Value3</label><br>
        <input type="radio" name="specialization" value="value1" id="value4">
        <label for="value4" class="tag-filter">Value4</label>
    </div>
    <div class="filter-button">
        <hr class="filter-divider">
        <input type="button" value="Filtrar" class="clasic-button">
    </div>


</div>