<div class="filter">
    <div class="name-filter">
    <p class="text-filter">FILTER</p>
    <hr class="filter-divider">
    </div>
    <div>
        <input type="checkbox" id="tag1" class="tag-filter">
        <label for="tag1" class="tag-filter">Tag1</label>
    </div>
    <div>
        <input type="checkbox" id="tag2" class="tag-filter">
        <label for="tag2" class="tag-filter">Tag2</label>
    </div>
    <div>
        <input type="checkbox" id="tag3" class="tag-filter">
        <label for="tag3" class="tag-filter">Tag3</label>
    </div>
    <div>
        <input type="checkbox" id="tag4" class="tag-filter">
        <label for="tag4" class="tag-filter">Tag4</label>
    </div>

    <label for="genre">Genre:</label>
    <select id="genre">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
    </select>
    <label for="experience">Experience:</label>
    <select id="experience">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
    </select>


</div>