footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  footer a:hover {
    color: #ddd;
  }
  
  .social-icons {
    margin-top: 10px;
    text-align: center; /* Centra los elementos */
  }
  
  .social-icons a {
    display: inline-block;
    width: 20px; /* Cambia el ancho de las imágenes */
    height: 20px; /* Cambia la altura de las imágenes */
    line-height: 20px; /* Ajusta la línea de altura para centrar verticalmente */
    margin: 0 5px;
  
  }
  .logo {
    width: 20px; /* Cambia este valor al tamaño deseado */
  }
  