<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pie de página</title>
<link rel="stylesheet" href="/styles.css" />
</head>
<body>

<footer>
  <div>
    <a href="/templates/sobrenosotros.html">Sobre nosotros</a>
    <a href="/templates/contacto.html">Contacto</a>
    <a href="/templates/otrosenlaces.html">Otros enlaces</a>
    <a href="/templates/terminos.html">Términos y condiciones</a>
  </div>
  
  <div class="social-icons">
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
</footer>

</body>
</html>

