<nav>
  <div class="logo-container">
    <a href="/"><img src="/resources/logo.png"></a>
  </div>

  <div class="link-container">
    <a href="/sobre-nosotros">Sobre nosotros</a>
    <a href="/nutritionist-list">Nuestros profesionales</a>
    <a href="/faq">Preguntas frecuentes</a>
    <button onclick=showLogin()>Login</button>
  </div>
  <div class="link-responsive-container">
    <button class="clasic-button" onclick=showLogin()>Login</button>
    <button class="clasic-button menu-but" onclick=showMenu()><i class="fa fa-bars"></i> </button>
    <div class="menu-container">
      <span onclick=showMenu()><i class="fa fa-bars"></i>Menu</span>
      <a href="/sobre-nosotros">Sobre nosotros</a>
      <a href="/nutritionist-list">Nuestros profesionales</a>
      <a href="/faq">Preguntas frecuentes</a>
    </div>
  </div>
</nav>
