<div class="nutritionist_card">
    <div class="main-nutritionist-card">

        <div class="nutritionist-info-container">
            <div class="nutritionist_image">
                <img class="user_photo" src="/resources/user_face.png" alt="Nutritionist image" width="80" height="80">

                <div class="mobile-info-container">
                    <div class="text-name">
                        <p class="name">Nombre nutricionista</p>
                    </div>

                    <div class="location_price_contact">
                        <span class="localidad">Localidad</span>
                        <span class = "precio">Precio</span>
                        <button type="button" class="clasic-button">Contactar</button>
                    </div>
                </div>
            </div>

            <div class="text-description">
                <div class="text-name">
                    <p class="name-laptop name">Nombre nutricionista</p>
                </div>
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis mi rutrum,
                    mollis nunc non, mollis lectus. Donec sagittis, nisi nec consectetur commodo, tellus enim
                    scelerisque purus,
                    sit amet fermentum sem magna nec ligula. Nulla varius in nunc in tincidunt. Nulla facilisis sagittis
                    congue.
                    Nam volutpat erat mauris, sit amet molestie eros dignissim sit amet.</p>

            </div>

            <div class="mobile-second-info-container">
                <div class="text-name-2">
                    <p class="name">Nombre nutricionista</p>
                </div>

                <div class="location_price_contact">
                    <p><span class="localidad">Localidad</span></p>
                    <p><span class="precio">Precio</span></p>
                    <button type="button" class="clasic-button">Contactar</button>
                </div>
            </div>

            <div class="social_media-laptop">
                <p><i class="fa fa-twitter"></i></p>
                <p><i class="fa-brands fa-linkedin"></i></p>
                <p><i class="fa fa-instagram"></i></p>
                <p><i class="fa fa-facebook"></i></p>
            </div>
        </div>

            <div class="tags">
                <p class="tag ocultado" id="tagdummy">esto es un tag</p>
            </div>
            <div class="social-media">
                <p><i class="fa fa-twitter"></i></p>
                <p><i class="fa-brands fa-linkedin"></i></p>
                <p><i class="fa fa-instagram"></i></p>
                <p><i class="fa fa-facebook"></i></p>
            </div>



    </div>
</div>


