<div class="nutritionist_card">
        <div class="tags">
            <p class="tag">esto es un tag</p>
            <p class="tag">esto es un tag</p>
            <p class="tag">esto es un tag</p>
            <p class="tag">esto es un tag</p>
        </div>
    <div class="main-nutritionist-card">
    <div class="nutritionist_image">
        <img class="user_photo" src="/resources/user_face.png" alt="Nutritionist image" width="128" height="128">
    </div>
    <div class="tags_&_text">
        <p class="name">Nombre nutricionista</p><p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis mi rutrum,
        mollis nunc non, mollis lectus. Donec sagittis, nisi nec consectetur commodo, tellus enim scelerisque purus,
        sit amet fermentum sem magna nec ligula. Nulla varius in nunc in tincidunt. Nulla facilisis sagittis congue.
        Nam volutpat erat mauris, sit amet molestie eros dignissim sit amet.</p>
    </div>
    <div class="location_price_contact">
        <p>Localidad</p><p>Precio</p><button type="button" class="clasic-button">Contactar</button>
    </div>
    <div class="social_media">
        <p><i class="fa fa-twitter"></i></p>
        <p><i class="fa-brands fa-linkedin"></i></p>
        <p><i class="fa fa-instagram"></i></p>
        <p><i class="fa fa-facebook"></i></p>
    </div>


    </div>

</div>