<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" href="sobrenosotros.css">
</head>
<body>
    <header>
        <h1>Sobre Nosotros</h1>
    </header>
    <main>
        <p>Somos una empresa comprometida con la excelencia y la satisfacción del cliente. Nuestro equipo está formado por profesionales altamente capacitados en diversas áreas que trabajan juntos para ofrecer soluciones innovadoras y de calidad.</p>
    </main>
</body>
</html>
