<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css" />
    <title>Sobre Nosotros</title>
  
</head>
<body>
    <div class="video-container">
        <video autoplay loop muted class="video-background">
            <source src="/resources/sobrenosotros_video_prueba.mp4" type="video/mp4"> <!-- Ruta del video -->
            Tu navegador no soporta la etiqueta de video.
        </video>
        <div class="overlay"></div>

    <div class="content">
        <header class="header">
            <h1>Sobre Nosotros</h1>
        </header>
        <div class="sobrenosotros-content">
            <div class="main-content">
                <p>El puente de la nutrición, siempre disponible para ti.</p>
            </div>
            <div class="end_content_up">
                <div class="up_content_left">Lorem</div>
                <div class="up_content_center">🌐</div>
                <div class="up_content_right">Ipsum</div>
            </div>
            <div class="end_content_down">
                <div class="down_content_left">Ipsum</div>
                <div class="down_content_center">Lorem Ipsum</div>
                <div class="down_content_right">Lorem</div>
            </div>
        </div>
    </div>
</div>
<div class="down-container">
    <div class="down_container_header"><h1> Lorem Ipsum</h1></div>
    <div class="image-container">
        <img src="/resources/sobrenosotros_down_imagen.jpg">
    </div> 
    <div class="text-container">
    <p>Estamos creando Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu orci, elementum in odio quis, rutrum vulputate nisl. Aliquam lobortis velit felis. Proin eleifend lectus eget dui viverra pulvinar. Aenean scelerisque consectetur tellus, ut consectetur velit hendrerit sed. Pellentesque lorem magna, fringilla ac aliquam id, tristique non nunc. Suspendisse a tempus tortor. Donec egestas lectus eu velit blandit dictum. Vivamus lectus felis, egestas vel gravida vitae, tincidunt vel mi. 
        Vestibulum dignissim massa velit, in vestibulum aug.</p>
    </div>

    </div>
<div class="sobrenosotros_end">
        <div class="sobrenosotros_end_header"><h1>Únete a Nosotros</h1></div>
        <button class="sobrenosotros_register" >Regístrate ya</button>
    
    </div>

</div>
</body>
</html>
