<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>

<main>
  <div class="otrosenlaces_content">

    <div class="otrosenlaces_header">
      <h1>Otros Enlaces</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula lacus non justo luctus auctor. Aliquam quis pharetra nisi, id venenatis libero. Nam sit amet ipsum quis nunc convallis dictum. Cras laoreet magna nec lacus bibendum, vitae tincidunt sem fermentum.</p>

    </div>

    <div class="otrosenlaces_images">
      <div class="otrosenlaces_image">
        <img src="/assets/resources/privacidad_imagen.jpg" alt="Imagen 1">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="otrosenlaces_image">
        <img src="/assets/resources/privacidad_imagen.jpg" alt="Imagen 2">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="otrosenlaces_image">
        <img src="/assets/resources/privacidad_imagen.jpg" alt="Imagen 3">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="segundo_otrosenlaces_images">
      <div class="otrosenlaces_image">
        <img src="/assets/resources/privacidad_imagen.jpg" alt="Imagen 1">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="otrosenlaces_image">
        <img src="/assets/resources/privacidad_imagen.jpg" alt="Imagen 2">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="otrosenlaces_image">
        <img src="/assets/resources/privacidad_imagen.jpg" alt="Imagen 3">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>
</main>

</body>
