
/* Nutritional Calendar */

  .container {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 700px;
    margin: 0 auto;
    padding: 5px;
    color: #fff;
    display: flex;

    border-radius: 10px;
    background-color: #373c4f;
  }

  .container::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    background: linear-gradient(to bottom right, transparent 50%, #475072 50%); 
    border-radius: 10px;
  }

  .leftcontainer {
    width: 60%;
    padding: 20px;
  }



  .calendar {
    background: rgb(238, 233, 233);
    position: relative;
    width: 100%;
    height:100%;
    max-height:800px;
    padding: 1em; 
    margin: 30px;
    border-radius: 0 5px 5px 0;
  }
  .calendar::before,
  .calendar::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      width: 12px;
      height: 97%;
      border-radius: 0 5px 5px 0;
      background-color: #afbe8f;
      transform: translateY(-50%);
    }
    .calendar::before {
      height: 94%;
      left: calc(100% + 12px);
      background-color: #3f6634
    }
  .configuration_menu{
    position:absolute;
    top:0;
    left:0;
    border:none;
    background-color: rgb(238, 233, 233);
    font-size: 1.8em;
    cursor: pointer;
  }
  .configuration_menu:hover{
    
    background-color: rgb(201, 199, 199);
  }
  .configuration_menu:hover::before{
    content: 'Configuración del calendario';
    position: absolute;
    left: 100%;
    bottom: 0;
    font-size: 0.4em;
    white-space: nowrap; 
    background-color: #f9f9f9; 
    border: 1px solid black;
    padding: 5px; 
    margin-left: 5px; 
  
  }

  .dropdown-content {
    position: absolute;
    left: 0; 
    top: 5%; 
    background-color: #f9f9f9;
    max-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

#weekly-option {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block; 
}

  .title {
    top: 0;
    left: 50%; 
    text-align:center;
    margin:10px;
    color: #6a80e1;;
    font-size: 2em;
    font-weight: bold;
    width: 100%; 
  }
  .calendar__info {
    display: flex;
    align-items: center;
    padding: 0 2em;
    font-size: 1.5em;
    color: #3f6634;
    text-transform: uppercase;
    font-weight: 1000;
    
  }

  .calendar__prev, .calendar__next {
    color: #3f6634;
    cursor: pointer;
    font-size: 1.3em;
  }

  .calendar__prev {
    margin-right: auto;
  }

  .calendar__next {
    margin-left: auto;
  }

  .calendar__week, .calendar__dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: auto;
  }
  .calendar__week {
    background-color: #e2dfdf;
    font-weight: bold;
  }
  .calendar__month, .calendar__year {
    padding: .5em 1em;
  }

  .calendar__item {
    text-align: center;
    font-size: 1.3em;
    color: black;
    line-height: 4;
    border: 1px solid #9b9b9b;
  }
  .calendar__item:hover {
    color: black;
    font-weight: 1000;
    font-size: 1.3em;
    cursor:pointer;
  }
.calendar__items.active {

  max-height: 300px;
}


  .calendar__today {
    background: #c0d3ff;
    border: 1px solid #9b9b9b; 
  }


  .calendar__last-days {
    color: rgba(0, 0, 0, 0.3);
    border: 1px solid #9b9b9b; 

  }
  .rightcontainer {
    position: relative;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .rightplus {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;;
    
  }
  .show-right-btn {
    margin-right: 0;
    background-color: #6f91e1;
    color: white;
    font-size: 1.5em;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .show-right-btn:hover {
    background-color: #5c7bb5;
  }

  .today-date {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }

  .dish-date {
    display:flex;
    font-size: 1.6em;
    color: #1cc869; 
    font-weight: bold;
    text-align: center;
    margin:auto;
  }

  .dish-day {
    display:flex;
    margin-right:auto;
    font-size: 1.4em;
    font-weight: bold;
    color: #7d1fb7; 
    text-align: center;
    padding:5px;
  }
  .dishes {
    position: relative;
  }
  .dishes:hover{
    background-color: rgba(255, 255, 255, 0.1); 
  }
  .dishes:hover .closeemoji { 
    display: block; 
  }

  .closeemoji{
    display:none;
    position: absolute;
    right: 0;
    top:0;
    background-color: #596180;
    font-size: 1.8em;
    font-weight: bolder;
    border: none;
    cursor: pointer;

  }
  .closeemoji:hover{cursor:pointer; }
  .noteemoji {
    display:none;
    position: absolute;
    right: 0;
    bottom:0;
    background-color: #596180;
    font-size: 1.8em;
    font-weight: bolder;
    border: none;
    cursor: pointer;

  }
  .noteemoji:hover{cursor:pointer; }
  .dishes:hover .noteemoji { 
    display: block; 
  }
  .dishinfo {
    width: auto;
    margin-top: 20px;
    padding: 1em;
    display: flex;
    align-items: center; 
    gap: 10px;
  }
  .titledish {
    text-align: left;
    color: #e8890d;
  }

  .dish-title {
    color: #6f91e1;
  }

  .dish-title:hover {
    cursor:pointer;
  }

  .dish-title:hover .right-nutritional-data {
    display: block;
  }

  .right-dish-form{
    display: flex;
    max-width: 50%;
    margin-left:10px;
    border-radius: 0 20px 20px 0;
  }

  .add-dish-wrapper {
    position: relative;
    width: 100%;
    margin-left: 24px;
    background-color: #5b67af;
    border-radius: 0 20px 0 0;
    padding-bottom: 20px;
  }

  .add-dish-header {
    display: flex;
    background-color: #1c2879;
    width:100%;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    font-weight: bolder;
    margin-bottom: 20px;
    border-radius: 0 20px 0 0;

    
  }

  .add-dish-body {
    margin-bottom: 20px;
    width:70%;
    margin:auto;
  }


  .add-dish-body .add-dish-input input {
    width: 100%;
    height: 100%;
    padding:5px;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    background-color: #a6a3a3;
    margin-top: 10px;
  }

  .add-dish-body .add-dish-input input::placeholder {
    color: #4b4b4b;
  }

  .add-dish-footer{
    display: flex;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 10px;
  }

  .add-dish-footer .add-dish-btn{
    position: absolute;
    width:60%;
    cursor: pointer;
    bottom:0;
    background-color: #9bc09a;
    border: 2px solid black;
  }
.add-dish-footer .cancel-btn{
  position: absolute;
  width:26%;
  right:0;
  bottom:0;
  background-color: #d33c5c;
  border: 2px solid black;
}

  .dialog {
    display: none;
    position: relative;
    width: 80%; 
    max-width: 500px; 
    height: auto; 
    max-height: 80%;
    background-color: #3f6634;
    margin:auto;
    padding: 20px;
    border-radius: 10px;
    color: #32df0b;

  }
  .dialog::before{
    content: 'Plato Ejemplo, DiaSemana';
    color: #2db2e6;
    font-weight: bolder;
    font-size: 1.4em;
  }

  .nutricionist_note{
    resize: none;
    background-color: #afbe8f;
    margin-top: 10px;
    width:100%;
    height: 150px;
  }
  .send_btn button {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #4ab32c; 
    margin-bottom: 3%;
    margin-right: 3%;
    border: 1px solid black;
  }
  .send_btn button:hover{cursor:pointer; }
  .close-dialog-btn button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #3f6634;
    border:none;
  }
  .close-dialog-btn button:hover{cursor:pointer; }
  .text-area textarea.nutricionist_note {
    width: 100%;
    height: 90%; 
    min-height: 120px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
    resize: none;
  }

  .text-area textarea.nutricionist_note:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1), 0 0 8px rgba(102,175,233,.6);
  }
  .right-nutritional-data {
    position: absolute;
    display:none;
    left:0;
    top: 0;
    margin-top:60px;
    min-width:270px;
    max-width: 300px;
    height:auto;
    background-color: #E3F2FD ; 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    max-width: 300px; 
    z-index: 9999;
    margin-right:auto; 
  }

  .right-nutritional-data p {
    font-family: 'Arial', sans-serif;
    color: #333; 
    font-weight: bolder;
    margin-bottom: 10px;
  }

  .right-nutritional-data .protein { color: #4A90E2; }
  .right-nutritional-data .grasas { color: #f8781c; }
  .right-nutritional-data .grasas-saturadas { color: #f8781c; }
  .right-nutritional-data .carbohydrates { color: #32df0b; }
  .right-nutritional-data .sugars { color: #D0021B; }
  .right-nutritional-data .sodium { color: #50E3C2; }
  .right-nutritional-data .dietary-fibre { color: #BD10E0; }


  .right-nutritional-data p::after {
    content: 'X / 100g'; 
    font-weight: '';
    color: rgb(42, 42, 42);
    margin-left: 2px; 
  }
  .day_note {
    display: none;
    position: relative;
    width: 80%;
    max-width: 500px;
    height: auto;
    max-height: 80%;
    background-color: #3f6634;
    margin:auto;
    padding: 20px;
    border-radius: 10px;
    color: #32df0b;
  }


  .day_note::before {
    content: 'Día X-XX-XXXX';
    color: #2db2e6;
    font-weight: bolder;
    font-size: 1.4em;
  }

  .item_day_note {
    resize: none;
    background-color: #afbe8f;
    margin-top: 10px;
    width: 100%; 
    height: 90%; 
    min-height: 120px; 
  }

  .send-day-note-btn button, .close-day-note-btn button {
    border: none; 
    cursor: pointer; 
  }

  .send-day-note-btn button {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 3%;
    margin-right: 3%;
    background-color: #4ab32c; 
    border: 1px solid black;
  }

  .close-day-note-btn button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #3f6634; 
  }

  .text-area textarea.item_day_note {
    width: 100%;
    height: 90%; 
    min-height: 120px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
    resize: none;
  }

  .text-area textarea.item_day_note:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1), 0 0 8px rgba(102,175,233,.6);
  }

@media screen and (max-width: 1200px) {

  .dish-date{
    font-size:1.4em;
  }
  .dish-day{
    font-size: 1em;
  }
  .add-dish-wrapper{
    margin-left: 24px;
    min-width: 280px;
  }
}

  @media screen and (max-width: 800px) {
    .container{
      flex-direction: column;
      width:100%;
      height:100%;
      margin:0;
    }

    .container::before {
      display:none;
    }
    .calendar{
      margin:auto;
      width:90%;
      height:90%;

    }

    .calendar::before,
    .calendar::after {
      top: 100%;
      left: 50%;
      width: 97%; /* Revisa si necesitas ajustar este ancho */
      height: 12px;
      border-radius: 0 0 5px 5px;
      transform: translateX(-50%);
      box-sizing: border-box; /* Asegurando que el ancho incluya padding y border */
    }
    .calendar::before {
      width: 94%;
      top: calc(100% + 12px);
    }
    .title{
      font-size:1.4em;
    }
    .calendar__info{
      padding:0;
      font-size:1.3em;
    }
    .calendar__prev, .calendar__next, .calendar__item {
      font-size:1em;
    }

    .dropdown-content{
      top:7%;
    }
    #weekly-option {
      font-size:12px;
      padding: 2px 5px;
    }
    .calendar__item:hover {
      color: black;
      font-weight: 1000;
      font-size: 1em;
    }
    .leftcontainer, .rightcontainer {
      width: 100%;
      height: 100%;
      padding: 20px 0;
    }
    .rightcontainer {
      min-height: 500px;

    }
    .rightplus{
      position:absolute;
      bottom:0;
      right:0;
    }
    .add-dish-body .add-dish-input input::placeholder {
      font-size:0.8em;
      color: #4b4b4b;
    }

    .add-dish-footer .cancel-btn {

      width:35%;
    }
    .add-dish-footer .add-dish-btn{
      width: 55%;
    }

    .add-dish-wrapper{
      margin:0;
      min-width: 230px;
    }
    .add-dish-body .add-dish-input input {padding:0}

    .closeemoji, .noteemoji{
      font-size:1.2em;
      background-color: transparent;
    }
    .dialog::before{
      font-size:1.2em;
    }
    .right-nutritional-data{
      width:50%;
      line-height: 5px;
    }
    .right-nutritional-data p {

      font-size:0.8em;
      line-height: 1;
    }
    .right-nutritional-data{
      min-width: auto;
      max-width:100%;
    }

  }

@media screen and (max-width: 1024px),(min-height: 900px) {
  .container{
    flex-direction: column;
    width:100%;
    height:100%;
    margin:0;
  }

  .container::before {
    display:none;
  }
  .calendar{
    margin:auto;
    width:90%;
    height:90%;

  }

  .calendar::before,
  .calendar::after {
    top: 100%;
    left: 50%;
    width: 97%; /* Revisa si necesitas ajustar este ancho */
    height: 12px;
    border-radius: 0 0 5px 5px;
    transform: translateX(-50%);
    box-sizing: border-box; /* Asegurando que el ancho incluya padding y border */
  }
  .calendar::before {
    width: 94%;
    top: calc(100% + 12px);
  }

  .leftcontainer, .rightcontainer {
    width: 100%;
    height: 100%;
    padding: 20px 0;
  }
  .rightcontainer {
    min-height: 500px;
  }

  .closeemoji, .noteemoji{
    background-color: transparent;
  }

  .dish-date{
    font-size:1.6em;
  }
  .dish-day{
    font-size: 1.4em;
  }


}
  
  