/*Fuentes*/
.roboto-slab-<uniquifier> {
                  font-family: "Roboto Slab", serif;
                  font-optical-sizing: auto;
                  font-weight: <weight>;
                  font-style: normal;
}


/*Contacto*/
*{
    font-family: Roboto Slab !important;
    & a{ /* Directamente por debajo a y button */
        text-decoration: none;
        color: black;
    }
}

i {
    font-family: 'FontAwesome', sans-serif !important;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F3F8EA;
}

header {
    padding: 20px;
    text-align: center;
    box-shadow: 1px 1px 2px #333333;
}

h1 {
    color: #333;
    margin: 0;
}

main {
    padding: 20px;
}

p {
    line-height: 1.6;
}



/*
Footer
*/

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: #ddd;
}

.social-icons {
    margin-top: 10px;
    text-align: center; /* Centra los elementos */
}

.social-icons a {
    display: inline-block;
    width: 20px; /* Cambia el ancho de las imágenes */
    height: 20px; /* Cambia la altura de las imágenes */
    line-height: 20px; /* Ajusta la línea de altura para centrar verticalmente */
    margin: 0 5px;

}
.logo {
    width: 20px; /* Cambia este valor al tamaño deseado */
}


/*

Client card

 */
.notification {
    margin-left: auto;
    margin-right: 20px;
}
.client_id{
    margin-left: 10px;
}

.client_card {
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 4px 1px;
    border-radius: 5px;
    padding: 20px 5px;
    max-width: 600px;
    background-color: #DDE392;
}

.nutritionist_image {
    align-self: center;
}
.nutritionist_card {
    align-items: center;
    box-shadow: 0px 0px 4px 1px;
    border-radius: 5px;
    padding: 20px 5px;
    max-width: 700px;
    background-color: #DDE392;
}

.tags {
    display: flex;
    max-width: 80%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.tag {
    padding: 5px;
    margin: 5px;
    box-shadow: 0px 0px 0 2px;
    background-color: #3F6634;

}
.main-nutritionist-card {
     display: flex;
}
.name {
    font-size: 20px;
    margin:10px;
}
.description {
    font-size: small;
}

.location_price_contact {
    padding: 30px;
}
.user_photo {
    padding-right: 15px;
}
.divider {
    border: none;
    border-left: 1.5px solid black;
    height: 150px;
    margin-right: 2.5px;
}

/*Navbar header*/

header nav{
    display: flex;

    .logo-container{
        width: 250px;
        & img{
            width: 100%;
        }
    }

    .link-container{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;

        & a{ /* Directamente por debajo a y button */
            margin-left: 20px;
            text-decoration: none;
            color: black;
          }
        & button{
            margin-left: 20px;
            background: #3f6634;
            color: white;
            border: 1px solid #3f6634;
            padding: 5px 10px;
            border-radius: 3px;
            font-size: 1.2em;
            cursor: pointer;


            &:hover{
                background: white;
                color: #3f6634;

             }
          }
    }
}

main{
    .main-inner {

        .image-container {
            max-width: 600px;

            & img {
                width: 100%;
            }

        }

        .text-container{

            .button-container{
                .regular-link{
                    font-size: 1.2em;
                    color: #3f6634;
                    font-weight: 700;
                }
            }
        }
    }
}

/*Filters*/
.filter {
    margin-left: 50px;
    max-width: 200px;
    margin-bottom: 35px;
}
.filter-nutritionist{
    display: block;
    max-width: 200px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.filter-client {
    max-width: 200px;
    margin-left: 50px;

}


.filter-button input{
    margin: 15px auto;
    display: block;
}

.name-filter{
    text-align: center;
}
.tag-filter{
    margin-top: 10px;
}
.text-filter{
    margin-bottom: 0px;

}
.filter-divider{

    margin-top: 0px;

}


.clasic-button{
    margin-left: 20px;
    background: #3f6634;
    color: white;
    border: 1px solid #3f6634;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 1.2em;
    cursor: pointer;


&:hover{
     background: white;
     color: #3f6634;

 }
}
