<body class="index-page">
<main class="register-page">
  <div class="form-register-container">
    <h2>Registro</h2>
    <div class="dual-option">
      <span class="selected">Cliente</span>
      <span>Nutricionista</span>
    </div>

    <form id="register-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <label>E-mail</label>
      <input type="text" placeholder="" formControlName="email" />
      <label>Contraseña</label>
      <input type="password" placeholder="" formControlName="password" />
      <label>Nombre</label>
        <input type="text" placeholder="" formControlName="username" />
      <label>Apellidos</label>
        <input type="text" placeholder="Apellidos" formControlName="subname" />
      <label>Fecha de nacimiento</label>
        <input type="date" placeholder="" formControlName="birth" />
      <label>Alergias, intoleracncias, patologias</label>
      <textarea type="text" placeholder="Separado por comas" formControlName="alergia" ></textarea>
      <label>Preferencias alimenticias</label>
      <textarea type="text" placeholder="Separado por comas" formControlName="preferencia" ></textarea>
      <div class="button-container">
        <button class="clasic-button" type="submit">Register</button>
        <span class="regular-link">Si ya estás registrado, inicia sesion</span>
      </div>
    </form>

  </div>
  <div class="image-register">
    <img src="assets/resources/register.jpg">
  </div>
</main>

</body>
