<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pie de página</title>
<link rel="stylesheet" type="text/css" href="footer.css">
</head>
<body>

<footer>
  <div>
    <a href="sobrenosotros.html">Sobre nosotros</a>
    <a href="contacto.html">Contacto</a>
    <a href="otrosenlaces.html">Otros enlaces</a>
    <a href="terminos.html">Términos y condiciones</a>
  </div>
  
  <div class="social-icons">
    <a href="#"><img class="logo" src="Resources/Logo_of_Twitter.png" alt="Twitter"></a>
    <a href="#"><img class="logo" src="Resources/Logo_of_Instagram.png" alt="Instagram"></a>
    <a href="#"><img class="logo" src="Resources/Logo_of_Facebook.png" alt="Facebook"></a>
  </div>
</footer>

</body>
</html>

