.client_list-page{
  #filter-hamburger {
    display: none;
  }
  display: flex;
  .card-container{
    flex-direction: column;
    align-items: center;
    display: flex;
    flex: 3;
    justify-content: center;
  }

  .card-listClient{
    padding: 20px;
  }

  .filter-listClient{

    display: flex;
    flex: 1;
    flex-direction: column;

  }
  .client_list-text{
    text-decoration: underline;
    font-size: 1.5em;
  }
  .client_list-filter_text{
    margin-left: 20px;
    font-size: 1.2em;
  }
}
